jars/idc_to_lbd_geometry-2.43.4.jar filter=lfs diff=lfs merge=lfs -text
IFC[[:space:]]files/snowdon/Arch/Snowdon[[:space:]]Towers[[:space:]]Sample[[:space:]]Architectural.ifc filter=lfs diff=lfs merge=lfs -text
IFC[[:space:]]files/snowdon/new/Snowdon[[:space:]]Towers[[:space:]]Sample[[:space:]]Architectural_structural_advBIG.ifc filter=lfs diff=lfs merge=lfs -text
